@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

.netflix-body {
	background-color: black;
	position: relative;
}
#browser {
	width: 100%;
	height: 100vh;
	color: white;
	display: grid;
	place-items: center;
}
#browser > h1 {
	font-size: 50px;
	position: relative;
	top: 120px;
}
#browser > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
#browser > div > div {
	background-image: url("https://occ-0-1947-2164.1.nflxso.net/dnm/api/v6/vN7bi_My87NPKvsBoib006Llxzg/AAAABXYofKdCJceEP7pdxcEZ9wt80GsxEyXIbnG_QM8znksNz3JexvRbDLr0_AcNKr2SJtT-MLr1eCOA-e7xlDHsx4Jmmsi5HL8.png?r=1d4");
	background-position: cover;
	background-size: 100%;
	background-repeat: no-repeat;

	width: 150px;
	height: 150px;
	display: grid;
	place-items: center;
	gap: 10px;
	position: relative;

	transition: 0.5s;
}
#browser > div > div:hover {
	cursor: pointer;
	transform: scale(1.05);
	
}
#browser > div > div > p {
	position: absolute;
	bottom: -35px;
	font-size: 25px;
	color: rgb(179, 179, 179);
}
#browser > button {
	height: 30px;
	width: 200px;
	color: rgb(179, 179, 179);
	padding: 12px 20px 35px;
	font-size: 20px;
	background-color: transparent;
	border: 1px double rgb(179, 179, 179);

	cursor: pointer;
}

.main,
.login-main {
	background-image: url("../../public//assets/netflix/images/bg.jpg");
	background-position: center center;
	/* background-size: max(1200px, 100vw); */
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
}
.main .box,
.login-main .box {
	height: 100vh;
	width: 100%;
	opacity: 0.69;
	position: absolute;
	top: 0;
	background-color: black;
}

.netflix-nav {
	max-width: 77vw;
	justify-content: space-between;
	margin: auto;
	display: flex;
	align-items: center;
	height: 92px;
	z-index: 10;
}

.netflix-nav img {
	color: #e50920;
	width: 150px;
	position: relative;
	z-index: 10;
}
.netflix-nav img ~ span {
	display: flex;
	gap: 20px;
	color: white;
	font-size: 15px;
	font-weight: 600;
	cursor: pointer;
}

.select-language {
	display: flex;
	align-items: center;
	/* gap: 20px; */
}

.select-language > svg {
	color: white;
	z-index: 1;
	position: relative;
	right: 30px;
}
.select-language > svg:nth-child(1) {
	right: -30px;
}

.select-language > select {
	width: 100px;
	z-index: 10;
	position: relative;
	width: 130px;
	outline: none;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	padding: 8px;
	padding-left: 40px;
	border-radius: 5px;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.select-language option {
	background-color: white;
	color: black;
}
.netflix-nav button {
	position: relative;
	z-index: 10;
	border: 0;
	font-weight: bold;
	padding: 8px 15px;
	background-color: #e50920;
	color: white;
	border-radius: 5px;
}
.netflix-nav button > a {
	color: white;
	text-decoration: none;
}
.netflix-nav button:hover {
	cursor: pointer;
	background-color: #c40014;
}
.netflix-nav-second {
	display: flex;
	gap: 20px;
	align-items: center;
	height: 100%;
	color: white;
	position: relative;
}
.netflix-nav-second > input {
	padding: 2px;
	padding-left: 5px;
	outline: none;
	height: 34px;
	padding-right: 30px;
	position: absolute;
	font-size: 15px;
	color: white;

	transition: 1s;
}
.netflix-nav-second > input ~ svg {
	z-index: 10;
}
.netflix-nav-second > div {
	display: flex;
	gap: 5px;
	align-items: center;
}
.netflix-nav-second > div > img {
	width: 35px;
	border-radius: 5px;
}

.hero,
.browse-hero {
	font-family: "Martel Sans", sans-serif;
	height: calc(100% - 100px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	position: relative;
	gap: 20px;
	padding: 0 30px;


}

.hero > :nth-child(1) {
	font-family: "Poppins", sans-serif;
	font-weight: bolder;
	font-size: 45px;
	text-align: center;
	margin-top: 5px;
}

.hero > :nth-child(2) {
	font-weight: 400;
	font-size: 24px;
	text-align: center;
}

.hero > :nth-child(3) {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}

.hero-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}
.hero-buttons .form-control {
	height: 56px;
	width: 400px;
	color: white;
	z-index: 10;
	position: relative;
	font-size: 17px;
	border-radius: 4px;
	background-color: rgba(7, 7, 7, 0.288);
	border: 1px solid rgba(246, 238, 238, 0.5);
	margin: 0;
}
.hero-buttons .form-control input {
	background-color: #0000002f;
}
.hero-buttons .form-control input:is(:focus, :valid) {
	background-color: #0000002f;
	padding: 16px 20px 0;
}
.hero-buttons button {
	position: relative;
	z-index: 10;
	border: 0;
	font-size: 20px;
	font-weight: bold;
	padding: 16px 30px;
	background-color: #e50914;
	color: white;
	border-radius: 5px;
}

.browse-hero {
	align-items: start;
	justify-content: start;
	width: 40%;
	margin-left: 2%;
	margin-top: 14vh;
	height: max-content;
	/* box-shadow: ; */
}
.browse-hero > img {
	width: 100%;
	filter: drop-shadow(79px -99px 116px -4px rgba(230, 40, 40, 1));
}
.browse-hero > p {
	font-size: 17px;
	line-height: 23px;
	font-family: "Poppins", sans-serif;
}
.browse-hero > div {
	display: flex;
	gap: 10px;
}
.browse-hero > div > button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	gap: 13px;
	border-radius: 5px;
	font-size: 19px;
	padding: 11px 26px;
	font-weight: 600;
	background-color: white;
	cursor: pointer;
}
.browse-hero > div > button:hover {
	background-color: #d1d1d1;
}
.browse-hero > div > button:nth-child(2) {
	background-color: #4d4e4d;
	color: white;
}
.browse-hero > div > button:nth-child(2):hover {
	background-color: #242424;
}

.separation {
	height: 7px;
	background-color: rgb(46, 44, 44);
	position: relative;
	z-index: 20;
}

.first {
	display: flex;
	justify-content: center;
	max-width: 77vw;
	margin: auto;
	color: white;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.secImg {
	position: relative;
}

.secImg img {
	width: 555px;
	position: relative;
	z-index: 10;
}

.secImg video {
	position: absolute;
}
.first .secImg video {
	left: 70px;
	top: 120px;
	width: 410px;
}
.third .secImg video {
	left: 100px;
	top: 69px;
	width: 350px;
}

.first > div {
	display: flex;
	flex-direction: column;
	padding: 34px 0;
}

.first > div :nth-child(1) {
	font-size: 48px;
	font-weight: bolder;
}

.first > div :nth-child(2) {
	font-size: 24px;
}

.second .download {
	position: absolute;
	border: whitesmoke solid 1px;
	background-color: black;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	z-index: 10;
	font-size: 16px;
	left: 130px;
	bottom: 60px;
}
.second .download > img:nth-child(1) {
	width: 60px;
}
.second .download > img:nth-child(3) {
	width: 40px;
}

.faq h2 {
	text-align: center;
	font-size: 48px;
}

.faq {
	background: black;
	color: white;
	padding: 34px;
}

.faqbox > p:nth-child(1):hover {
	background-color: #414141;
	color: white;
}

.faqbox svg {
	filter: invert(1);
}

.faqbox {
	font-size: 24px;
	background-color: #2d2d2d;
	max-width: 60vw;
	cursor: pointer;
	margin: 20px auto;
}
.faqbox > p {
	display: flex;
	padding: 24px;
	justify-content: space-between;
}

.netflix-footer {
	color: white;
	max-width: 77vw;
	margin: auto;
	padding: 60px;
}

.netflix-footer .questions {
	padding: 34px 0;
}

.netflix-footer .footer {
	display: flex;
	color: white;
	background-color: black;
	padding: 0;
	max-width: 100%;
}

.netflix-footer .footer a {
	font-size: 14px;
	color: white;
}

.netflix-footer .footer-item {
	display: flex;
	flex-direction: column;
	gap: 23px;
}
.footer ~ .select-language {
	margin-top: 30px;
	margin-left: -20px;
}
.footer ~ .select-language ~ p {
	margin-top: 10px;
	font-size: 15px;
}

.form-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 4px;
	padding: 70px;
	width: 430px;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.644);
}

.form-wrapper h2 {
	color: #fff;
	font-size: 2rem;
}

.form-wrapper form {
	margin: 25px 0 65px;
}

.form-control {
	height: 50px;
	position: relative;
	margin-bottom: 16px;
}

.form-control input {
	height: 100%;
	width: 100%;
	background: #333;
	border: none;
	outline: none;
	border-radius: 4px;
	color: #fff;
	font-size: 1rem;
	padding: 0 20px;
}

.form-control input:is(:focus, :valid) {
	background: #444;
	padding: 16px 20px 0;
}

.form-control label {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1rem;
	pointer-events: none;
	color: #8c8c8c;
	transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label {
	font-size: 0.75rem;
	transform: translateY(-130%);
}

form button {
	width: 100%;
	padding: 16px 0;
	font-size: 1rem;
	background: #e50914;
	color: #fff;
	font-weight: 500;
	border-radius: 4px;
	border: none;
	outline: none;
	margin: 25px 0 10px;
	cursor: pointer;
	transition: 0.1s ease;
}

form button:hover {
	background: #c40812;
}

.form-wrapper a {
	text-decoration: none;
}

.form-wrapper a:hover {
	text-decoration: underline;
}

.form-wrapper :where(label, p, small, a) {
	color: #b3b3b3;
}

form .form-help {
	display: flex;
	justify-content: space-between;
}

form .remember-me {
	display: flex;
}

form .remember-me input {
	margin-right: 5px;
	accent-color: #b3b3b3;
}

form .form-help :where(label, a) {
	font-size: 0.9rem;
}

.form-wrapper p a {
	color: #fff;
}

.form-wrapper small {
	display: block;
	margin-top: 15px;
	color: #b3b3b3;
}

.form-wrapper small a {
	color: #0071eb;
}

#netfilx-content {
	margin: 10px 0xp;
	color: white;
	max-width: 100vw;
	padding: 0px 4vw;
	/* padding-bottom: 100px; */
	position: relative;
	top: -100px;
	background-color: transparent;
	height: max-content;
}
#netfilx-content > h2 {
	padding: 10px;
	position: absolute;
}
#netfilx-content > div {
	position: relative;
	display: flex;
	align-items: center;
}

#netfilx-content #all-data {
	display: flex;
	align-items: center;
	gap: 10px;

	max-width: 100%;
	height: 400px;
	/* border: 1px solid red; */
	/* height: max-content; */
	margin-top: -80px;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: smooth;
}
#netfilx-content #all-data::-webkit-scrollbar {
	height: 0rem;
	background-color: #0f0f0f65;
	border: 0.5rem;
}
#netfilx-content #all-data::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 0.3rem;
}
#netfilx-content #all-data {
	position: relative;
}
#netfilx-content #all-data > div {
	position: relative;

	transition: 0.5s;
}
#netfilx-content #all-data > div:hover {
	transform: scale(1.5);
	border-radius: 10px;
	z-index: 10;
	/* left: 50px; */
}
#netfilx-content #all-data > div:nth-child(1):hover{
	left: 55px;
}
#netfilx-content #all-data > div:last-child:hover{
	right: 55px;
}
#netfilx-content #all-data > div:hover #data-info {
	display: block;
}
#netfilx-content #all-data > div > img {
	width: 229px;
}
#data-info {
	display: none;
	background-color: #0f0f0f;
	margin-top: -5px;
	padding: 10px;
}
#netfilx-content #data-info > div {
	display: flex;
	justify-content: space-between;
	height: 50px;
}
#netfilx-content #data-info > div > div {
	display: flex;
	gap: 10px;
}
#netfilx-content #data-info > div > div:nth-child(2) {
	justify-content: end;
}
#netfilx-content #data-info > div svg {
	width: 30px;
	height: 30px;
	padding: 5px;
	border: 1px solid white;
	border-radius: 50%;
	cursor: pointer;
}
#netfilx-content #data-info>p{
	font-size: 12px;
	margin: 5px 0px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0px 10px;
}
#netfilx-content #data-info>p:nth-child(2)>span:nth-child(1){
	color: rgb(10, 236, 10);
}

#netfilx-content #previous,
#netfilx-content #next {
	width: 3.9vw;
	height: 41%;
	top: 51px;
	padding: 0px;
	border: 0;
	margin: 0px 5px;
	border-radius: 0%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.11);
	color: #f1f1f1;
	opacity: 0.1;
	cursor: pointer;
	z-index: 10;
}
#netfilx-content:hover #previous,
#netfilx-content:hover #next {
	opacity: 1;
}
#netfilx-content #previous {
	box-shadow: 0px 0px 0px 0px #0f0f0f;
	left: -4.1vw;
}
#netfilx-content #next {
	box-shadow: 0px 0px 0px 0px #0f0f0f;
	right: -4.1vw;
}


.second-content{
	margin-top: -100px;
}

#trending{
	display: flex;
	position: relative;
	align-items: center;
	margin-top: 50px;
}
#trending>svg{
	width: 100px;
	height: 150px;
}
#trending>img{
	width: 140px;
}

#info-model{
	position: absolute;
	top: 60px;
	width: 100%;
	margin: auto;
	padding: 20px;
	background-color: #2e2e2e69;
}
#info-model>div{
	width: 50%;
	margin: auto;
	background-color: #000000;
	color: white;
}
.model-top{
	background-position: cover;
	background-size: 100%;
	height: 450px;
	padding-left: 5%;
	background-repeat: no-repeat;
	position: relative;

}
.model-top>svg{
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
	top: 10px;
	right: 10px;
}
.model-top>img{
	width: 40%;
	margin-top: 28%;
}
.model-top>div{
	display: flex;
	gap: 10px;
	margin-top: 10px;
}
.model-top>div > svg{
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
}
.model-top>div > button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	gap: 13px;
	border-radius: 5px;
	font-size: 19px;
	padding: 10px 25px;
	font-weight: 600;
	background-color: white;
	cursor: pointer;
}
.model-top>div > button:hover {
	background-color: #d1d1d1;
}

.model-second{
	padding: 0px 10px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	color: #ecececda;
}
.model-second>div:nth-child(1){
	width: 60%;
	font-size: 17px;
}
.model-second>div:nth-child(2){
	width: 39%;
}
.model-second>div:nth-child(1)>p:nth-child(1)>span:nth-child(1){
	color: rgb(0, 255, 0);
}

.model-second>div>p{
	margin: 5px 0px;
}
.model-second>div:nth-child(2)>p>span:nth-child(1){
	font-style: italic;
	color: rgb(167, 166, 166);
}