:root {
	--primary-light: #8abdff;
	--primary: #6d5dfc;
	--primary-dark: #5b0eeb;

	--white: #ffffff;
	--greyLight-1: #e4ebf5;
	--greyLight-2: #c8d0e7;
	--greyLight-3: #bec8e4;
	--greyDark: #9baacf;

	--shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
		-0.2rem -0.2rem 0.5rem var(--white);
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}

#todo-list {
	width: 96%;
	margin: auto;
}

.todolist-nav {
	border: 5px rgb(255, 255, 255) solid;
	padding: 15px;
	position: sticky;
	/* font-family: 'Mulish', sans-serif; */
	font-family: "Caveat", cursive;
	font-size: 25px;
	word-spacing: 8px;
	letter-spacing: 1px;
	font-weight: 700;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(10px);
	background-color: var(--bg-dominant-light-white);
	z-index: 10;
}
#notes-section {
	margin-bottom: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
	padding: 0px 10px;
}
#notes {
	display: flex;
	/* border: #3ffdca 1px solid; */
	max-width: 1100px;
	height: max-content;
	overflow-x: scroll;
	transition: scroll-left 0.3s ease-in-out;

	padding-right: 20px;
}
#notes::-webkit-scrollbar {
	height: 5px;
	background-color: rgba(247, 247, 247, 0.3);
}
#notes::-webkit-scrollbar-thumb {
	background-color: var(--bg-accent-teal);
}
#pre,
#next {
	width: 30px;
	height: 54px;
	padding: 2px;
	cursor: pointer;

	position: relative;
	top: -2px;

	border-radius: 4px;
}
#notes > div {
	/* box-shadow: rgba(100, 100, 111, 0.123) 0px 7px 29px 0px; */
	transition: 0.5s;
}
#notes > div:hover {
	transform: scale(1.05);
}

.add-note {
	margin: auto;
	font-weight: 600;
	border: 1px solid black;
	border-radius: 4px;
	transition: 0.25s ease-in-out;
	padding: 10px 30px;
	cursor: pointer;
}
.shine {
	background: linear-gradient(to right, #000 0, #3ffdca 10%, #000 30%);
	background-position: 30px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s infinite linear forwards;
}
.shine:hover {
	-webkit-text-fill-color: var(--text-accent-teal);
}
@keyframes shine {
	0% {
		background-position: 0px;
	}
	50% {
		background-position: 30px;
	}
	100% {
		background-position: 50px;
	}
}

.add-note-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 300px;
	height: 400px;
	box-shadow: rgba(100, 100, 111, 0.123) 0px 7px 29px 0px;
	border: 1px solid rgba(0, 0, 0, 0.712);
	background-color: rgb(255, 255, 255);
	backdrop-filter: blur(10px);
	font-family: monospace;
}
.add-note-form > h3 {
	font-size: 25px;
}

.add-note-form > label {
	margin-top: 10px;
	font-size: 18px;
}
.add-note-form > input,
.add-note-form > textarea {
	font-size: 18px;
	padding: 2px;
}

.add-note-form > div {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#categories {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 60px;
	/* padding: 20px; */
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
}
#categories > a {
	height: max-content;
	opacity: 0.7;
	color: #000;
	border: 0px;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.5s;
}
#categories .activeCategory {
	opacity: 1;
	/* border-bottom: 2px solid #b00808; */
	box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}

/***************** work section ***************/
#work,
#travel,
#project,
#hobbies,
#personal {
	min-height: 500px;
}
#work > h1,
#travel > h1,
#project > h1,
#hobbies > h1,
#personal > h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 50px;
}

#work > section:nth-child(1) {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
	padding: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.329);
}
#work > section:nth-child(1) > div:nth-child(1) {
	display: flex;
	gap: 20px;
}
#teams {
	padding: 5px 10px;
}

#tasks {
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#tasks > aside {
	padding: 10px;
	width: 400px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
}

#tasks > aside > div:nth-child(1) {
	display: flex;
	padding: 10px;
	gap: 50px;
	justify-content: space-between;
	font-size: 25px;
}
#tasks > aside > div:nth-child(2) {
	/* display: flex;  */

	padding: 10px;
	gap: 50px;
	justify-content: space-between;
	font-size: 18px;
	overflow: scroll;
}
#tasks > aside > div:nth-child(2)::-webkit-scrollbar {
	height: 5px;
	background-color: rgba(247, 247, 247, 0.3);
}
#tasks > aside > div:nth-child(2)::-webkit-scrollbar-thumb {
	background-color: rgba(49, 209, 209, 0.295);
}
#tasks > aside > div:nth-child(2) > div {
	display: flex;
	align-items: center;
	padding: 5px;
	height: 50px;
	min-width: max-content;
	gap: 10px;
}
.special{
	color: #0dac81;
}

#goals-section{
	max-width: 90%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
}
#goals-section>div>div:nth-child(1){
	display: flex;
	padding: 10px;
	gap: 50px;
	justify-content: space-between;
	font-size: 25px;
}
#goal{
	max-width: 950px;
	height: max-content;
	overflow-x: scroll;
	transition: scroll-left 0.3s ease-in-out;

	padding: 10px;
	gap: 20px;

	box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}
#goal::-webkit-scrollbar {
	height: 5px;
	background-color: rgba(247, 247, 247, 0.3);
}
#goal::-webkit-scrollbar-thumb {
	background-color: var(--bg-accent-teal);
}
#goal>div{
	width: 300px;
	border: #000 solid 1px;
	margin: 10px;
	padding: 10px;
}
#goal>div>hr{
	width: 325px;
	height: 5px;
	position: relative;
	top: -12px;
	left: 15px;
	border: 0px;
	background-color: #5250505b;
}

#current-goal>div:nth-child(1){
	display: flex;
	padding: 10px 10px 10px 0px;
	gap: 50px;
	justify-content: space-between;
	font-size: 25px;
}