:root {
	--primary-light: #8abdff;
	--primary: #6d5dfc;
	--primary-dark: #5b0eeb;

	--white: #ffffff;
	--greyLight-1: #e4ebf5;
	--greyLight-2: #c8d0e7;
	--greyLight-3: #bec8e4;
	--greyDark: #9baacf;

	--shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
		-0.2rem -0.2rem 0.5rem var(--white);
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}

#todo-list {
	width: 96%;
	margin: auto;
}

.todolist-nav {
	border: 5px rgb(255, 255, 255) solid;
	padding: 15px;
	position: sticky;
	/* font-family: 'Mulish', sans-serif; */
	font-family: "Caveat", cursive;
	font-size: 25px;
	word-spacing: 8px;
	letter-spacing: 1px;
	font-weight: 700;
	top: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(10px);
	background-color: var(--bg-dominant-light-white);
	z-index: 10;
}
.todolist-nav > div {
	display: flex;
	gap: 20px;
}
.paste-button {
	position: relative;
	display: block;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.notification {
	color: #212121;
	padding: 10px 15px;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid transparent;
	border-radius: 15px;
	cursor: pointer;
}

.notifications {
	display: none;
	font-size: 13px;
	position: absolute;
	right: -150px;
	padding: 5px;
	max-height: 300px;
	overflow-y: scroll;
	z-index: 1;
	background-color: whitesmoke;
	border-radius: 0px 15px 15px 15px;
}
.notifications > div {
	width: 350px;
	padding: 5px;
	margin: 10px;
	box-shadow: 0px 0px 9px 1px var(--greyLight-2);
}
.notifications > div > div > p:nth-child(1) {
	font-size: 16px;
}

.notifications a {
	color: #4caf8e;
	background-color: whitesmoke;
	width: max-content;
	border-radius: 5px;
	margin: 5px;
	padding: 3px 8px 5px;
	text-decoration: none;
	display: block;
	transition: 0.1s;
}

.notifications a:hover {
	color: white;
	background-color: #4caf8e;
}

.notifications a:focus {
	background-color: #212121;
	color: #4caf50;
}

.notifications #top:hover {
	border-radius: 0px 13px 0px 0px;
}

.notifications #bottom:hover {
	border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
	border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .notifications {
	display: block;
}

#notes-section {
	margin-bottom: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
	padding: 0px 10px;
}
#notes {
	display: flex;
	/* border: #3ffdca 1px solid; */
	max-width: 1100px;
	height: max-content;
	overflow-x: scroll;
	transition: scroll-left 0.3s ease-in-out;

	padding-right: 20px;
}
#notes::-webkit-scrollbar {
	height: 5px;
	background-color: rgba(247, 247, 247, 0.3);
}
#notes::-webkit-scrollbar-thumb {
	background-color: var(--bg-accent-teal);
}
#pre,
#next {
	width: 30px;
	height: 54px;
	padding: 2px;
	cursor: pointer;
	margin: 0px 10px;
	position: relative;
	top: -2px;

	border-radius: 4px;
}
#notes > div {
	transition: 0.5s;
}
#notes > div:hover {
	transform: scale(1.05);
}


.add-note {
	margin: auto;
	font-weight: 600;
	border: 1px solid black;
	border-radius: 4px;
	transition: 0.25s ease-in-out;
	padding: 10px 30px;
	cursor: pointer;
}
.shine {
	background: linear-gradient(to right, #000 0, #3ffdca 10%, #000 30%);
	background-position: 30px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s infinite linear forwards;
}
.shine:hover {
	-webkit-text-fill-color: var(--text-accent-teal);
}
@keyframes shine {
	0% {
		background-position: 0px;
	}
	50% {
		background-position: 30px;
	}
	100% {
		background-position: 50px;
	}
}

.add-note-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 300px;
	height: 400px;
	box-shadow: rgba(100, 100, 111, 0.123) 0px 7px 29px 0px;
	border: 1px solid rgba(0, 0, 0, 0.712);
	background-color: rgb(255, 255, 255);
	backdrop-filter: blur(10px);
	font-family: monospace;
}
.add-note-form>div  h3 {
	font-size: 25px;
}

.add-note-form>div  label {
	margin-top: 10px;
	font-size: 18px;
}
.add-note-form>div  input,
.add-note-form>div  textarea {
	font-size: 18px;
	width: 100%;
	padding: 2px;
	resize: none;
}

.add-note-form  #buttons { 
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#categories {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 60px;
	/* padding: 20px; */
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
}
#categories > a {
	height: max-content;
	opacity: 0.7;
	color: #000;
	border: 0px;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.5s;
}
#categories .activeCategory {
	opacity: 1;
	/* border-bottom: 2px solid #b00808; */
	box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}

/***************** work section ***************/
#work,
#travel,
#project,
#hobbies,
#personal {
	min-height: 500px;
}
#work > h1,
#travel > h1,
#project > h1,
#hobbies > h1,
#personal > h1 {
	margin-top: 20px;
	text-align: center;
	font-size: 50px;
}

#category > div > div > section:nth-child(1) {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	align-items: center;
	padding: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.329);
}
#category > div > div > section:nth-child(1) > div:nth-child(1) {
	display: flex;
	gap: 20px;
}
#teams {
	padding: 5px 10px;
}

#teamDetails {
	margin: 20px 10px;
}
#teamDetails #pre,
#teamDetails #next {
	height: 44px;
	top: -1px;
}
.users {
	display: flex;
	max-width: 100%;
	/* height: 300px; */
	height: max-content;
	overflow-x: scroll;
	transition: scroll-left 0.3s ease-in-out;

	padding-right: 20px;
}
.users::-webkit-scrollbar {
	height: 0px;
}

#tasks {
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#tasks > aside,
#task-goal > aside:nth-child(1) {
	padding: 10px;
	width: 400px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
}

#tasks > aside > div:nth-child(1),
#task-goal > aside:nth-child(1) > div:nth-child(1) {
	display: flex;
	padding: 10px;
	gap: 10px 50px;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 25px;
}
#tasks > aside > div:nth-child(1) > p,
#task-goal > aside:nth-child(1) > div:nth-child(1) > p {
	width: max-content;
}
#tasks > aside > div:nth-child(2),
#task-goal > aside:nth-child(1) > div:nth-child(2) {
	/* display: flex;  */

	padding: 10px;
	gap: 50px;
	justify-content: space-between;
	/* height: 350px; */
	font-size: 18px;
	/* border: 1px solid #ccc; */
}

#tasks > aside > div:nth-child(2) > div,
#task-goal > aside:nth-child(1) > div:nth-child(2) > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#tasks > aside > div:nth-child(2) > div > div,
#task-goal > aside:nth-child(1) > div:nth-child(2) > div > div {
	display: flex;
	align-items: center;
	padding: 5px;
	height: 50px;

	gap: 10px;
}
#updates{
	width: 400px;
}
#updates>main:nth-child(2){
	min-height: 250px;
	max-height: 350px;
	overflow: scroll;
}
#updates>main:nth-child(2)::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(247, 247, 247, 0.3);
}
#updates>main:nth-child(2)::-webkit-scrollbar-thumb {
	background-color: rgba(49, 209, 209, 0.295);
}
#updates>main:nth-child(2)>p{
	text-align: center;
	width: max-content;
	padding: 3px 5px;
	border-radius: 5px;
	background-color: whitesmoke;
	max-width: 70%;
	margin: auto;
	font-size: 12px;
	border: #dfdfdf 1px solid;
	margin-bottom: 20px;
}
#updates>main:nth-child(2)>div{
	border: #dfdfdf 1px solid;
	width: max-content;
	padding: 2px 0px;
	padding-right: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	max-width: 85%;
	border-left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#updates>main:nth-child(2)>div>span{
	font-size: 10px;
}
#updates>main:nth-child(2)>#own-update{
	text-align: end;
	margin-left: auto;
	padding-right: 0px;
	padding-left: 10px;
	border: #dfdfdf 1px solid;
	border-right: 0px;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#updates>div:nth-child(3){
	position: relative;
}
#updates>div:nth-child(3)>input{
	width: 100%;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 50px;
	height: 35px;
}
#updates>div:nth-child(3)>div{
	position: absolute;
	top: 5px;
	right: 3px;
}
.edit-delete {
	display: flex;
	flex-direction: column;
	height: max-content;
	width: max-content;
	position: relative;
}
.edit-delete:hover > p {
	cursor: pointer;
}
.edit-delete:hover > div {
	display: block;
}
.edit-delete > div {
	display: none;
	position: absolute;
	width: max-content;
	background-color: white;
	text-align: center;
	top: 1px;
	left: 10px;
	cursor: pointer;
}
.edit-delete > div > p {
	padding: 2px 5px;
	border: #000 1px solid;
	margin-bottom: 2px;
}
.special {
	color: #0dac81;
}

#task-goal {
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	margin-left: 60px;
	/* gap: 50px; */
}

#goals-section {
	max-width: 90%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
}
#goals-section > div > div:nth-child(1) {
	display: flex;
	padding: 10px;
	gap: 100px;
	justify-content: space-between;
	font-size: 25px;
}
#goal {
	max-width: 850px;
	height: max-content;
	overflow-x: scroll;
	transition: scroll-left 0.3s ease-in-out;

	padding: 10px;
	gap: 20px;

	box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}
#goal::-webkit-scrollbar {
	height: 5px;
	background-color: rgba(247, 247, 247, 0.3);
}
#goal::-webkit-scrollbar-thumb {
	background-color: var(--bg-accent-teal);
}
#goal > div {
	width: 300px;
	/* border: #000 solid 1px; */
	margin: 10px;
	padding: 10px;
}
#goal > div > div:nth-child(1) > p {
	height: 50px;
	/* text-align: end; */
	align-items: end;
}
#goal > div > hr {
	width: 325px;
	height: 5px;
	position: relative;
	top: -12px;
	left: 15px;
	border: 0px;
	background-color: #5250505b;
}

#current-goal > div:nth-child(1) {
	display: flex;
	padding: 10px 10px 10px 0px;
	gap: 50px;
	justify-content: space-between;
	font-size: 25px;
}
#inspire {
	max-width: 900px;
	margin: 20px auto;
	text-align: center;
}
#inspire > h2 {
	font-size: 50px;
	color: var(--text-accent-teal);
	font-family: var(--hero-font);
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 20px;
}
#inspire > p {
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 20px;
}
#createForm > form > button,
#inspire > button {
	margin-top: 30px;
	border: 1px solid var(--text-accent-teal);
	font-family: var(--content-font);
	letter-spacing: 2px;
	color: var(--text-accent-teal);
	background: transparent;
	padding: 15px 40px;
	border-radius: 4px;
	width: fit-content;
	align-items: center;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
}
#inspire > button:hover {
	background: var(--text-accent-teal);
	color: var(--text-primary-lightest);
}

#createForm {
	width: 500px;
	margin: auto;
	border: 1px solid rgb(0, 0, 0);
	text-align: center;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 300px;
	min-height: 400px;
	box-shadow: rgba(100, 100, 111, 0.123) 0px 7px 29px 0px;
	border: 1px solid rgba(0, 0, 0, 0.712);
	background-color: rgb(255, 255, 255);
	backdrop-filter: blur(10px);
}

#createForm > form > input {
	font-size: 18px;
	height: 40px;
	width: 94%;
	margin: 3%;
	padding: 2%;
}
#createForm > form > textarea:nth-child(2) {
	font-size: 16px;
	width: 94%;
	resize: none;
	margin: 3%;
	padding: 2%;
}

#createForm > form > div:nth-child(3) {
	display: flex;
	justify-content: space-evenly;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#rotate {
	animation: rotate 2s ease-in-out infinite;
}

.done-btn {
	background-color: #ffffff00;
	position: relative;
	height: 2.9em;
	border: #36ffbc 0.2em solid;
	border-radius: 11px;
	text-align: right;
	transition: all 0.6s ease;
	margin-top: 10px;
}

.done-btn:hover {
	background-color: #36ffbc;
	cursor: pointer;
}

.done-btn svg {
	width: 1.6em;
	margin: -0.2em 0.8em 1em;
	position: absolute;
	display: flex;
	transition: all 0.6s ease;
	color: #000;
	rotate: 9deg;
}

.done-btn > .text {
	margin: 0 10px 0 35px;
	font-size: 16px;
	color: #000;
	font-weight: 600;
}

.addMember {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.addMember > div {
	/* display: flex; */
	max-width: 1100px;
	overflow-x: scroll;
}

.email-input {
	position: relative;
	margin-left: 5px;
	min-height: 50px;
	min-width: 300px;
	display: inline-block;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.email-box {
	display: inline-block;
	height: max-content;
	margin: 5px;
	background-color: #f0f0f0;
	padding: 5px 10px;
	border-radius: 3px;
}

.delete-icon {
	cursor: pointer;
	color: red;
	margin-left: 5px;
}

#join-team {
	margin: 200px 20px;
	height: 300px;
}
#join-team > div {
	text-align: center;
}
#join-team > div > h1 {
	font-size: 100px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
#join-team > div {
	width: max-content;
	margin: auto;
}
#join-team > div > input {
	width: 500px;
	padding-left: 20px;
	font-size: 18px;
}
#join-team > div > a {
	position: absolute;
	top: 100px;
	display: flex;
	align-items: center;
	gap: 10px;
}

#financial>div{
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
#financial>div>aside{
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -2px 3px 29px 1px rgba(204, 204, 204, 0.5);
}
#track{
	width: 850px;
}


#record{
	width: 400px;
}
#financial>div>aside>div:nth-child(1){
	display: flex;
	padding: 10px;
	gap: 10px 50px;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 25px;
}
#record>main:nth-child(2){
	min-height: 250px;
	max-height: 350px;
	overflow: scroll;
}
#record>main:nth-child(2)::-webkit-scrollbar {
	width: 5px;
	background-color: rgba(247, 247, 247, 0.3);
}
#record>main:nth-child(2)::-webkit-scrollbar-thumb {
	background-color: rgba(49, 209, 209, 0.295);
}
#record>main:nth-child(2)>div>p{
	text-align: center;
	width: max-content;
	padding: 3px 5px;
	border-radius: 5px;
	background-color: whitesmoke;
	max-width: 70%;
	margin: auto;
	font-size: 12px;
	border: #dfdfdf 1px solid;
	margin-bottom: 20px;
}
#record>main:nth-child(2)>div>div{
	border: #3cff56 1px solid;
	width: max-content;
	padding: 2px 0px;
	padding-right: 10px;
	margin-bottom: 20px;
	font-size: 16px;
	max-width: 85%;
	border-left: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#record>main:nth-child(2)>div>div>span{
	font-size: 10px;
}
#record #own-update{
	text-align: end;
	margin-left: auto;
	padding-right: 0px;
	padding-left: 10px;
	border: #ff4949 1px solid;
	border-right: 0px;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#record>div:nth-child(3){
	position: relative;
}
#record>div:nth-child(3)>p{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
#record>div:nth-child(3)>input{
	width: 100%;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 50px;
	height: 35px;
}
#record>div:nth-child(3)>div{
	position: absolute;
	top: 25px;
	right: 3px;
}

#habit{
	min-height: 250px;
	max-height: 350px;
	overflow: scroll;
	padding: 10px;
}
#habit>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	padding: 5px;
}