@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
	/** Background colors */
	--color-dominant-white: #ffffff;
	--color-dominant-black: #000000;
	--bg-dominant-black: #ffffff;
	--bg-dominant-white: #0f0f0f;
	--color-light-white: #2e2e2eb7;
	--color-light-black: #686868;
}


#youtube {
	width: 100%;
	/* height: 100vh; */
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 0.5rem;
	background-color: #0f0f0f;
	border: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 0.3rem;
}

#youtube > nav {
	height: 56px;
	padding: 10px 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 10;
}
#youtube > nav #start {
	display: flex;
	align-items: center;
}

#youtube > nav #center {
	flex: 0 1 732px;
	min-width: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#youtube > nav #end {
	min-width: 225px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* margin-top: 10px; */
}

#guide-button {
	margin: 0;
	color: var(--yt-spec-icon-active-other);
	width: 43px;
	height: 43px;
	padding: 8px;
	margin-right: 13px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	opacity: 0.7;
	cursor: pointer;
}
#logo {
	width: 90px;
	position: relative;
	cursor: pointer;
}
#region {
	position: absolute;
	top: -7px;
	font-size: 10px;
	right: -14px;
	opacity: 0.6;
}
#search {
	display: flex;
	margin: 0 0 0 40px;
	padding: 0 4px;
	flex: auto;
}
#search-form {
	height: 40px;
	position: relative;
	display: flex;
	flex-direction: row;
	width: 88%;
	margin-left: 2px;
}
#search-form > input {
	position: relative;
	align-items: center;
	background-color: transparent;
	border-right: none;
	border-radius: 40px 0 0 40px;
	padding: 0 4px 0 16px;
	margin-left: 32px;
	flex: 1;
	display: flexbox;
	display: flex;
	flex-direction: row;
	outline: none;
	font-size: 15px;
}
#search-icon {
	border-radius: 0 40px 40px 0;
	cursor: pointer;
	height: 40px;
	width: 64px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#voice-icon {
	border-radius: 50%;
	cursor: pointer;
	height: 40px;
	width: 40px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sign-in {
	display: flex;
}
#settings {
	cursor: pointer;
	height: 25pxpx;
	width: 25px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}
#sign-in > button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	padding: 5px 10px;
	outline: none;
	background-color: transparent;
	color: #3ea6ff;
	border-radius: 20px;
	margin-right: 15px;
	cursor: pointer;
}
#sign-in > button:hover{
	background-color: #3ea5ff69;
}
#user-icon {
	cursor: pointer;
	height: 25px;
	width: 30px;
	margin: 0;
	display: flex;
	align-items: center;
}

#upload-icon {
	cursor: pointer;
	height: 29px;
	width: 29px;
	margin: 0;
	display: flex;
	align-items: center;
	padding: 2px;
	border-radius: 50%;
	margin-right: 23px;
}
#notification-icon {
	cursor: pointer;
	height: 10px;
	width: 40px;
	margin: 0;
	display: flex;
	align-items: center;
	padding: 2px;
	margin-right: 13px;
}
#user-logo {
	margin-right: 30px;
	margin-top: 3px;
}
#user-logo > img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}


header{
	display: flex;
	gap: 15px;
	position: relative;
	top: 0;
}

#detailLeftBar {
	width: max-content;
	padding: 12px;
	max-height: 92vh;
	overflow-y: scroll;

	position: sticky;
	top: 56px;
}
#detailLeftBar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

#detailLeftBar:hover::-webkit-scrollbar-thumb {
    background-color: gray;
}

#detailLeftBar > hr {
	border: 0px;
	height: .5px;
	opacity: 0.5;
	background-color: gray;
	margin: 12.5px 0px;
	width: 210px;
}
#detailLeftBar > div > #content-head {
	display: flex;
	align-items: center;
	font-size: 16px;
	letter-spacing: 0.5px;
	gap: 7px;
	padding: 8px 20px 8px 12px;
	border-radius: 10px;
	margin: 3px 0px;
	margin-right: 5px;
}
#detailLeftBar > div > div {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 13.7px;
	letter-spacing: 0.2px;
	padding: 8px 0px 8px 12px;
	border-radius: 10px;
	font-family: "Roboto", sans-serif;
	gap: 24px;
}
#home{
	background-color: #272727;
}
#detailLeftBar > div > div:hover {
	background-color: var(--color-light-black);
	cursor: pointer;
}
#detailLeftBar>#sign-in-container>div{
	
	padding: 6px 0px 6px 12px;
}
#detailLeftBar>#sign-in-container>div>p{
	font-size: 14px;
}
#detailLeftBar>#sign-in-container>div:hover {
	background-color: transparent;
}
#detailLeftBar>#about>div{

	display: block;
	gap: 10px;
}
#detailLeftBar>#about>div:hover{
	background-color: transparent;
	cursor: default;
}
#detailLeftBar>#about>div>a{
	margin-right: 10px;
	font-size: 13px;
	opacity: .8;
	margin-bottom: 5px;
}
#detailLeftBar>#about>p{
	font-size: 11.5px;
	opacity: .6;
	font-family: "Roboto";
	margin: 10px 10px 5px 10px;
}

#iconLeftBar {
	width: max-content;
	padding: 1px;
	position: sticky;
	top: 56px;
}
#iconLeftBar > div > div {
	display: flex;
	gap: 5px;
	flex-direction: column;
	align-items: center;
	font-size: 10px;
	font-weight: 600;
	padding: 19px 8px 12px 4.5px;
	border-radius: 10px;
}
#iconLeftBar > div > div:hover {
	background-color: var(--color-light-black);
}


header>main{
	max-width: 1240px;
	margin: 0;
	margin-left: 0px;
	flex: 1;
	position: relative;
	/* margin-top: 12px; */
}

/* #yt-categories{
	display: flex;
	gap: 10px;
	max-width: 1100px;
	height: max-content;
	overflow: scroll;
} */
#yt-categories {
	display: flex;
	max-width: 100%;
	height: max-content;
	overflow-x: scroll;
	gap: 13px;
	margin: 10px 0px 10px;
}
#yt-categories::-webkit-scrollbar {
	display: none;
}

.skeleton-loader {
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
    ),
    rgb(189, 188, 188);
    background-repeat: repeat-y;
    background-size: 50px 500px;
    background-position: 0 0;
    animation: shine 1s infinite;
}

@keyframes shine {
    to {
        background-position: 100% 0, 0 0;
    }
}
.category-skeleton{
	min-width: 100px;
	height: 35px;
	border-radius: 10px;
}
#previous,#next{
	width: 40px;
	height: 40px;
	padding: 10px;
	border: 0;
	margin: 0px 5px;
	border-radius: 50%;
	position: absolute;
	background-color: #0f0f0f;
	color: #F1F1F1;
}
#previous:hover,#next:hover{
	
	background-color: gray;
}
#previous{
	box-shadow: 10px 0px 96px 80px #0f0f0f;
	left: -12px;
	top: 6px;
}
#next{
	box-shadow: -10px 0px 96px 80px #0f0f0f;
	right: -30px;
	top: 6px;
}

.category>p{
	padding: 7px 12px;
	display: flex;
	border-radius: 10px;
	background-color: #272727;
	align-items: center;
	/* height: 30px; */
	width: max-content;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
}
.activeCategory>p{
	padding: 7px 12px;
	display: flex;
	border-radius: 7px;
	color: black;
	background-color: #F1F1F1;
	align-items: center;
	width: max-content;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
}
#contents{
	width: 100%;
	padding: 24px 0px 0px 0px;
}

#contents>div{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
	gap: 10px;
}

#contents>div>div{
	width: 400px;
	height: 370px;
	margin: auto;
	/* border: 1px solid gainsboro; */
	margin-bottom: 20px;
}
.thambnail-img{
	width: 100%;
	height: 250px;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
}
.thambnail-img>img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
.thambnail-img>span{
	font-size: 13px;
	position: absolute;
	background-color: #0f0f0fb6;
	display: flex;
	align-items: center;
	padding: 0px 4px 2px;
	font-weight: 600;
	border-radius: 5px;
	right: 10px;
	bottom: 30px;
}
.thambnail-img~div{
	display: flex;
	gap: 10px;
	margin-top: 5px;
}
.creator-logo{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.creator-logo>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.title{
	width: 330px;
	min-height: 40px;
	margin-bottom: 5px;
	cursor: pointer;
}
.channel-name{
	font-size: 14px;
	min-width: 80px;
	height: 20px;
	margin-bottom: 5px;
	opacity: .7;
	cursor: pointer;
}
.channel-name:hover{
	opacity: 1;
}
.channel-name~div{
	display: flex;
	gap: 3px;
	align-items: center;
	opacity: .7;
	font-size: 14px;
}
.views,.upload-date{
	min-width: 50px;
	height: 20px;
	display: flex;
	align-items: center;
}

#watch-main{
	display: flex;
	width: 90%;
	margin: 30px auto 0px;
}
#watch-main>div:nth-child(1){
	width: 66%;
	margin-left: 20px;
}

#info{
	padding: 10px 0px;
}
#info>div{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: max-content;
	margin-top: 20px;
}

#channel-info,#video-info{
	display: flex;
	gap: 10px;
	align-items: center;
}
#channel-info>div:nth-child(2)>p{
	display: flex;
	gap: 5px;
	align-items: center;
}
#channel-info>div:nth-child(2)>p:nth-child(2){
	font-size: 12px;
}
#channel-info>div:nth-child(3)>button{
	width: 100px;
	height: 40px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 600;
	color: #2C2B27;
}
#video-info>div:nth-child(1){
	display: flex;
	height: max-content;
	align-items: center;
	background-color: #2C2B27;
	border-radius: 25px;
}
#video-info>div>p{
	display: flex;
	align-items: center;
	padding: 8px 15px;
	border-radius: 25px;
	background-color: #2C2B27;
	cursor: pointer;
}
#video-info>div>p:hover{
	background-color: gray;
}
#video-info>div:nth-child(1)>p:nth-child(1){
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0;
}
#video-info>div:nth-child(1)>p:nth-child(3){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#description{
	margin-top: 20px;
	background-color: #2C2B27;
	border-radius: 15px;
	padding: 10px;
	font-size: 14px;
}
#description>p{
	font-size: 16px;
}
#description>div{
	margin: 10px 0px;
	line-height: 20px;
}
#description #line-gap{
	width: 10px;
	height: 20px;
}
#description>div>span{
	color: #3ea6ff;
	cursor: pointer;
}

#comment>div{
	display: flex;
	align-items: center;
	margin-top: 20px;
}
#comment h2~p{
	display: flex;
	margin-left: 20px;
	gap: 5px;
	align-items: center;
}
#comment>div #user-logo>img,#author-logo>img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#comment>div{
	width: 100%;
}
#comment>div #user-logo~div{
	width: 100%;
}
#comment>div input{
	width: 100%;
	height: 40px;
	outline: none;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.507);
	padding-left: 10px;
	font-size: 16px;
	background-color: transparent;
}

#comments{
	margin-top: 30px;
	font-size: 14px;
}
#comments>div{
	display: flex;
	gap: 20px;
	margin: 20px 0px;
}
#comments>div>div:nth-child(2)>p{
	opacity: .8;
}
#comments>div>div:nth-child(2)>p:nth-child(2){
	font-size: 16px;
	margin: 5px 0px;
	opacity: 1;
}
#comments>div>div:nth-child(2)>div{
	display: flex;
	align-items: center;
	gap: 10px;
	opacity: .8;
}

#comments>div>div:nth-child(2)>div>p:nth-child(3){
	margin-left: 10px;
	color: #3ea6ff;
}
#comments>div>div:nth-child(2)>div:nth-child(4){
	font-size: 16px;
	margin-top: 10px;
}
#comments>div>div:nth-child(2)>div:nth-child(4)>svg{
	cursor: pointer;
}

#watch-main #yt-categories {
	display: flex;
	max-width: 100%;
	height: max-content;
	overflow-x: scroll;
	gap: 13px;
	margin: 10px 0px 10px;
}

#watch-main>div:nth-child(2){
	width: 33%;
	margin-left: 20px;
}

#suggestions>div{
	display: flex;
	gap: 10px;
	margin: 10px 0px;
}
#suggestions .thambnail-img{
	width: 200px;
	height: max-content;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
}
#suggestions .thambnail-img>img{
	width: 180px;
	height: 100px;
	border-radius: 10px;
	cursor: pointer;
}
#suggestions .thambnail-img>span{
	font-size: 13px;
	position: absolute;
	background-color: #0f0f0fb6;
	display: flex;
	align-items: center;
	padding: 0px 4px 2px;
	font-weight: 600;
	border-radius: 5px;
	right: 10px;
	bottom: 10px;
}
.thambnail-img~div{
	display: flex;
	gap: 10px;
	margin-top: 5px;
}
#suggestions .creator-logo{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
#suggestions .creator-logo>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
#suggestions .title{
	width: 300px;
	min-height: 40px;
	margin-bottom: 5px;
	cursor: pointer;
}
#suggestions .channel-name{
	font-size: 14px;
	min-width: 80px;
	height: 20px;
	margin-bottom: 5px;
	opacity: .7;
	cursor: pointer;
}
#suggestions .channel-name:hover{
	opacity: 1;
}
#suggestions .channel-name~div{
	display: flex;
	gap: 3px;
	align-items: center;
	opacity: .7;
	font-size: 14px;
}
#suggestions .views,#suggestions .upload-date{
	min-width: 50px;
	height: 20px;
	display: flex;
	align-items: center;
}

#search-main{
	width: 50%;
	margin: auto;
}

#search-videos>div>div{
	width: 80%;
	/* height: 370px; */
	display: flex;

	margin: auto;
	margin-bottom: 20px;
}
#search-videos .thambnail-img{
	width: 40%;
	height: 250px;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
}
#search-videos .thambnail-img>img{
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}
#search-videos .thambnail-img>span{
	font-size: 13px;
	position: absolute;
	background-color: #0f0f0fb6;
	display: flex;
	align-items: center;
	padding: 0px 4px 2px;
	font-weight: 600;
	border-radius: 5px;
	right: 10px;
	bottom: 30px;
}
#search-videos .thambnail-img~div{
	display: flex;
	width: 60%;
	gap: 10px;
	margin-top: 5px;
	margin-left: 20px;
}
#search-videos #creator{
	display: flex;
	align-items: center;
	gap:10px;
	margin: 20px 0px 0px;
}
#search-videos .creator-logo{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}
#search-videos .creator-logo>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
#search-videos #creator~div{
	margin-top: 10px;
}
#search-videos .title{
	width: 100%;
	min-height: 40px;
	margin-bottom: 5px;
	cursor: pointer;
}
#search-videos .channel-name{
	font-size: 14px;
	min-width: 80px;
	height: 20px;
	margin-bottom: 5px;
	opacity: .7;
	cursor: pointer;
}
#search-videos .channel-name:hover{
	opacity: 1;
}
#search-videos .title~div{
	display: flex;
	gap: 3px;
	align-items: center;
	opacity: .7;
	font-size: 14px;
}
#search-videos .views,.upload-date{
	min-width: 50px;
	height: 20px;
	display: flex;
	align-items: center;
}
