/** Navbar Section*/
.navbar {
	display: flex;
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-dominant-light-white);
}
.navbar > div {
	display: flex;
	align-items: center;
}

.navbar > div:nth-child(1) {
	cursor: pointer;
}
.navbar > div:nth-child(1) > h1 {
	color: var(--text-accent-teal);
	font-size: 40px;
	margin-left: 5px;
	font-family: var(--logo-font);
}

.navbar > div:nth-child(2) {
	gap: 50px;
	font-size: 13px;
	font-family: var(--small-content-font);
	font-weight: 600;
	letter-spacing: 1px;
}
.link {
	margin-right: 30px;
	color: var(--text-primary-navy-blue);
}
.link:hover {
	color: var(--text-accent-teal);
}

.info {
	font-weight: 600;
	border: 1px solid black;
	border-radius: 4px;
	transition: 0.25s ease-in-out;
	padding: 10px 30px;
	cursor: pointer;
}
.shine {
	background: linear-gradient(to right, #000 0, #3ffdca 30%, #000 60%);
	background-position: 30px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s infinite linear forwards;
}
.shine:hover {
	-webkit-text-fill-color: var(--text-accent-teal);
}
@keyframes shine {
	0% {
		background-position: 0px;
	}
	50% {
		background-position: 30px;
	}
	100% {
		background-position: 60px;
	}
}



.menu {
	position: absolute;
	right: 0;
	padding: 10px 50px;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-dominant-light-white);
	width: max-content;
	margin: 0px 0px 0px 30px;
}
.menu > hr {
	margin: 40px 0px 30px 0px;
}
.links {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	margin-bottom: 30px;
}
.links > .link {
	margin: 0;
}

/** Footer Section*/
.footer {
	max-width: 97%;
	margin: auto;
	padding: 20px 50px;
	background-color: var(--bg-dominant-light-white);

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer > div {
	padding: 10px;
}
.footer h3 {
	letter-spacing: 1.8px;
}
.footer ul {
	columns: 1;
	margin: 10px 10px 0px 0px;
	list-style: none;
}
.footer li {
	transition: 0.25s ease;
	letter-spacing: 1.5px;
	margin-bottom: 5px;
}
.footer li:hover {
	transform: translateY(-2px);
}

/***************************************** Home Page ***************************************/

/** Header Section*/
main {
	width: 97%;
	margin: auto;
}

#header {
	padding: 50px;
	padding-bottom: 100px;
	margin-left: 50px;
}
#header > div:nth-child(1) > h1 {
	font-size: 100px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
#header > div:nth-child(1) > p:nth-child(2) {
	font-size: 40px;
	margin-top: 30px;
	color: var(--text-primary-light);
	font-family: var(--content-font);
}
#header > div:nth-child(1) > p:nth-child(3) {
	max-width: 650px;
	font-size: 20px;
	margin-top: 30px;
	color: var(--text-primary-lighter);
	font-family: var(--content-font);
	text-align: justify;
}
#title {
	color: var(--text-accent-teal);
}

.explore-btn {
	margin-top: 30px;
	border: 1px solid var(--text-accent-teal);
	font-family: var(--content-font);
	letter-spacing: 2px;
	color: var(--text-accent-teal);
	background: transparent;
	padding: 15px 40px;
	border-radius: 4px;
	display: flex;
	width: fit-content;
	align-items: center;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
}
.explore-btn:hover {
	background: var(--text-accent-teal);
	color: var(--text-primary-lightest);
}

/***************************************** About Page ***************************************/

/** Hero Section */
#about-hero {
	padding: 50px;
	padding-bottom: 100px;
	margin-left: 50px;
	/* border: #000 1px solid; */
	height: 90vh;
}
#about-hero > div:nth-child(1) > h1 {
	font-size: 100px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
#about-hero > div:nth-child(1) > p:nth-child(2) {
	max-width: 650px;
	font-size: 20px;
	margin-top: 100px;
	color: var(--text-primary-lighter);
	font-family: var(--content-font);
	text-align: justify;
}

/** Sections */
.left,
.right {
	padding: 50px;
	padding-bottom: 100px;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.left {
	flex-wrap: wrap-reverse;
}
.left > aside,
.right > aside {
	margin: auto;
}
.left > aside > img,
.right > aside > img {
	width: 500px;
	
}
.left > aside:nth-child(2) {
	text-align: end;
}
.left > aside:nth-child(2),
.right > aside:nth-child(1) {
	padding: 10px;
}
.left > aside:nth-child(2) > h2,
.right > aside:nth-child(1) > h2,
#reviews {
	font-size: 50px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
.left > aside:nth-child(2) > p,
.right > aside:nth-child(1) > p {
	max-width: 600px;

	font-size: 20px;
	margin-top: 50px;
	color: var(--text-primary-lighter);
	font-family: var(--content-font);
	text-align: justify;
}

/** Reviews Sections */
#reviews {
	text-align: center;
}
/* .reviews{
	display: flex;
	flex-wrap: wrap;
}
.reviews>div:nth-child(1), .reviews>div:nth-child(3){
	opacity: 0.5;
} */
.avator {
	border-radius: 100px;
	width: 48px;
	margin-right: 15px;
}

.tweet-wrap {
	max-width: 490px;
	background: #fff;
	margin: 0 auto 50px;
	margin-top: 50px;
	border-radius: 3px;
	padding: 30px;
	border-bottom: 1px solid #e6ecf0;
	border-top: 1px solid #e6ecf0;

	background: #e0e0e0;
	box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}

.tweet-header {
	display: flex;
	align-items: flex-start;
	font-size: 14px;
}
.tweet-header-info {
	font-weight: bold;
}
.tweet-header-info span {
	color: #657786;
	font-weight: normal;
	margin-left: 5px;
}
.tweet-header-info p {
	font-weight: normal;
	height: 60px;
	margin-top: 5px;
}
.tweet-img-wrap {
	padding-left: 60px;
}

.tweet-info-counts {
	display: flex;
	margin-left: 60px;
	margin-top: 10px;
}
.tweet-info-counts div {
	display: flex;
	margin-right: 20px;
}
.tweet-info-counts div svg {
	color: #657786;
	margin-right: 10px;
}
@media screen and (max-width: 430px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.tweet-header {
		flex-direction: column;
	}
	.tweet-header img {
		margin-bottom: 20px;
	}
	.tweet-header-info p {
		margin-bottom: 30px;
	}
	.tweet-img-wrap {
		padding-left: 0;
	}
	.tweet-info-counts {
		display: flex;
		margin-left: 0;
	}
	.tweet-info-counts div {
		margin-right: 10px;
	}
}

/***************************************** Sign Page ***************************************/
#option {
	text-align: center;
	background-color: aquamarine;
	width: 350px;
	padding: 10px 30px;
	margin: auto;
	margin-bottom: 100px;
}
#option > p {
	font-weight: 600;
	color: var(--text-primary-navy-blue);
}
#option button {
	border: 1px solid var(--text-primary-navy-blue);
	padding: 5px;
	border-radius: 3px;
	background: var(--text-primary-navy-blue);
	font-size: 17px;
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

#pageLoader {
	text-align: center;
	margin: 0;
	font-size: 25px;
	top: 95px;
	left: 45%;
	position: absolute;

	background: linear-gradient(to right, #3ffdca 0, #000000 10%, #3ffdca 30%);
	background-position: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine2 5s infinite linear forwards;
}
@keyframes shine2 {
	0% {
		background-position: 0px;
	}
	50% {
		background-position: 80px;
	}
	100% {
		background-position: 190px;
	}
}

/***************************************** SignIn and SignUp Section ***************************************/

#signinForm {
	background-color: rgb(127, 255, 212);
	width: 350px;
	height: 60vh;
	padding: 30px;
	margin: 15vh auto 0px;
	
}
#signinForm > h2 {
	font-size: 30px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
#signinForm > p {
	font-size: 20px;
	margin: 20px 0px;
	color: rgb(115, 116, 117);
}
#signinForm > div {
	position: relative;
}
#emailInput,
#passwordInput {
	height: 30px;
	font-size: 17px;
	border-radius: 3px;
	background-color: transparent;
	padding-left: 5px;
	outline: none;
	border: var(--text-primary-navy-blue) 3px solid;
}
#emailInput {
	margin-bottom: 30px;
}
#emailInput,
#passwordInput {
	width: 90%;
}
#emailInput::placeholder,
#passwordInput::placeholder {
	color: transparent;
}
#emailInput:placeholder-shown ~ #form-label,
#passwordInput:placeholder-shown ~ #form-label {
	cursor: text;
	top: 5px;
	font-size: 17px;
	background-color: transparent;
}
#form-label {
	position: absolute;
	display: block;
	font-size: 14px;
	top: -13px;
	left: 5px;
	transition: 0.5s;
	padding: 0px 2px;
	background-color: aquamarine;
}

#eye {
	position: relative;
	top: -10px;
	left: -1px;
	font-size: 15px;
	font-weight: 600;
}
input[type="checkbox"] {
	cursor: pointer;
}

#submitButton {
	margin-top: 30px;
	width: 110px;
	height: 40px;
	border: 0px;
	background: var(--text-primary-navy-blue);
	font-size: 17px;
	/* color: var(--bg-dominant-white); */
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
}

/***************************************** Popup Section ***************************************/
#popupdiv {
	width: 370px;
	margin: auto;
}
.popup {
	position: absolute;
	background-color: rgba(36, 35, 35, 0.685);
	backdrop-filter: blur(25px);
	height: 80vh;
	/* width: 370px; */
	border-radius: 30px;
	text-align: center;
	margin: auto;
	border: #e2e2e2 1px solid;
	padding: 5px;

	top: 130px;
}
.openpopup {
	visibility: visible;
}
.popup > h1 {
	padding-top: 50px;
	font-family: serif;
	font-size: 50px;
	color: white;
	margin-top: 0px;
	margin-bottom: 50px;
}
.popup h3 {
	font-family: serif;
	font-size: 30px;
	color: white;
	margin-bottom: 50px;
}
#otp {
	font-size: 30px;
}
#otpInput input {
	width: 50px;
	height: 50px;
	font-size: 50px;
	text-align: center;
	margin-right: 3px;
	border: 0px;
	outline: none;
}
input[type="number"] {
	margin-right: 5px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#otpButton {
	width: 150px;
	height: 50px;
	cursor: pointer;
	display: block;
	/* background: linear-gradient(to right, var(--first-color), var(--secondary-color)); */
	background: var(--text-primary-navy-blue);
	border: 0;
	outline: none;
	border-radius: 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin: auto;
	margin-top: 20px;
}

.popup-open {
	backdrop-filter: blur(55px);
}

/***************************************** Explore Page ***************************************/

.explore-sections {
	padding: 50px;
}
.products-headline,
.explore-sections > h2 {
	font-size: 50px;
	color: var(--text-accent-teal);
	font-family: var(--hero-font);
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 20px;
}
.products-headline {
	opacity: 0.5;

	color: var(--text-primary-navy-blue);
	width: fit-content;
	margin: auto;
	text-align: center;
	font-size: 60px;
	display: flex;
}
.products-headline > svg {
	width: 50px;
	margin: 5px 10px;
}
.explore-left,
.explore-right {
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-around;
}

.explore-image {
	width: 500px;
}
.explore-image > img {
	width: 100%;
}
.explore-content {
	width: 600px;
}
.explore-content > h3 {
	font-size: 30px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
	/* text-align: center; */
	margin-bottom: 20px;
}
.explore-content > p {
	font-size: 20px;
	margin-top: 50px;
	color: var(--text-primary-lighter);
	font-family: var(--content-font);
	text-align: justify;
}

.explore-left > .explore-content {
	text-align: end;
}
