
/** Navbar Section*/
.navbar {
	display: flex;
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-dominant-light-white);
}
.navbar > div {
	display: flex;
	align-items: center;
}

.navbar > div:nth-child(1){
  cursor: pointer;
}
.navbar > div:nth-child(1) > h1 {
	color: var(--text-accent-teal);
	font-size: 40px;
	margin-left: 5px;
	font-family: var(--logo-font);
}

.navbar > div:nth-child(2) {
	gap: 50px;
	font-size: 13px;
	font-family: var(--small-content-font);
  font-weight: 600;
	letter-spacing: 1px;
}
.link {
	margin-right: 30px;
	color: var(--text-primary-navy-blue);
}
.link:hover {
	color: var(--text-accent-teal);
}

.info {
	font-weight: 600;
	border: 1px solid black;
	border-radius: 4px;
	transition: 0.25s ease-in-out;
	padding: 10px 30px;
	cursor: pointer;
}
.shine {
	background: linear-gradient(to right, #3ffdca 0, #000 30%, #3ffdca 30%);
	background-position: 30px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 5s infinite linear forwards;
}
.shine:hover {
	-webkit-text-fill-color: var(--text-accent-teal);
}
@keyframes shine {
	0% {
		background-position: 0px;
	}
	50% {
		background-position: 30px;
	}
	100% {
		background-position: 50px;
	}
}

.menu{
  position: absolute;
  right: 0;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
	background-color: var(--bg-dominant-light-white);
  width: max-content;
  margin: 0px 0px 0px 30px;
}
.menu>hr{
  margin: 40px 0px 30px 0px;
}
.links{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-bottom: 30px;
}
.links>.link{
  margin: 0;
}

/** Footer Section*/
.footer {
	max-width: 97%;
	margin: auto;
	padding: 20px 50px;
	background-color: var(--bg-dominant-light-white);

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer>div{
	padding: 10px ;
}
.footer h3{
	letter-spacing: 1.8px;
}
.footer  ul {
	columns: 1;
	margin: 10px 10px 0px 0px ;
	list-style: none;
}
.footer li{
	transition: 0.25s ease;
	letter-spacing: 1.5px;
	margin-bottom: 5px;
}
.footer li:hover{
	transform: translateY(-2px);
}

/***************************************** Home Page ***************************************/

/** Header Section*/
main{
	width: 97%;
	margin: auto;
}

#header{
	padding:  50px;
	padding-bottom: 100px;
	margin-left: 50px;
}
#header>div:nth-child(1)>h1{
	font-size: 100px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
#header>div:nth-child(1)>p:nth-child(2){
	font-size: 40px;
	margin-top: 30px;
	color: var(--text-primary-light);
	font-family: var(--content-font);
}
#header>div:nth-child(1)>p:nth-child(3){
	max-width: 650px;
	font-size: 20px;
	margin-top: 30px;
	color: var(--text-primary-lighter);
	font-family: var(--content-font);
	text-align:justify;
}
#title{
	color: var(--text-accent-teal);
}

.explore-btn {
	margin-top: 30px;
    border: 1px solid var(--text-accent-teal);
	font-family: var(--content-font);
	letter-spacing: 2px;
    color: var(--text-accent-teal);
    background: transparent;
    padding: 15px 40px;
    border-radius: 4px;
    display: flex;
    width: fit-content;
    align-items: center;
    font-size: 17px;
	font-weight: 600;
	cursor: pointer;
}
.explore-btn:hover {
    background: var(--text-accent-teal);
    color: var(--text-primary-lightest);
}


/***************************************** About Page ***************************************/

/** Hero Section*/
#about-hero{
	padding:  50px;
	padding-bottom: 100px;
	margin-left: 50px;
	/* border: #000 1px solid; */
	height: 90vh;
}
#about-hero>div:nth-child(1)>h1{
	font-size: 100px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
#about-hero>div:nth-child(1)>p:nth-child(2){
	max-width: 650px;
	font-size: 20px;
	margin-top: 100px;
	color: var(--text-primary-lighter);
	font-family: var(--content-font);
	text-align:justify;
}


.left, .right{
	padding:  50px;
	padding-bottom: 100px;
	margin-left: 50px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.left{
	flex-wrap: wrap-reverse;
}
.left>aside, .right>aside{
	margin: auto;
}
.left>aside>img, .right>aside>img{
	width: 500px;
}
.left>aside:nth-child(2){
	text-align: end;
}
.left>aside:nth-child(2), .right>aside:nth-child(1){
	padding: 10px;
	
}
.left>aside:nth-child(2)>h2, .right>aside:nth-child(1)>h2, #reviews{
	font-size: 50px;
	color: var(--text-primary-navy-blue);
	font-family: var(--hero-font);
	letter-spacing: 2px;
}
.left>aside:nth-child(2)>p, .right>aside:nth-child(1)>p{
	max-width: 600px;
	
	font-size: 20px;
	margin-top: 50px;
	color: var(--text-primary-lighter);
	font-family: var(--content-font);
	text-align:justify;
}

#reviews{
	text-align: center;
}